<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1"
					area-expanded="false">
				<span class="sr-only" i18n>Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/" i18n>Sensics Tray</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li [ngClass]="{active: demoActive}"
					uib-tooltip="Demo">
					<a routerLink="/demo" i18n>Demo</a>
				</li>
				<li [ngClass]="{active: devicesActive}"
					uib-tooltip="Devices">
					<a routerLink="/devices" i18n>Devices</a>
				</li>
				<li [ngClass]="{active: pluginsActive}"
					uib-tooltip="Plugins">
					<a routerLink="/plugins" i18n>Plugins</a>
				</li>
				<li [ngClass]="{active: settingsActive}"
					uib-tooltip="Settings">
					<a routerLink="/settings" i18n>Settings</a>
				</li>
				<li [ngClass]="{active: helpActive}"
					uib-tooltip="Help">
					<a routerLink="/help" i18n>Help</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>
