<!-- Start Server -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" i18n>Launch OSVR Server</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<p i18n>Launch the OSVR Server on this machine, if not already running.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary"
								(click)="startServer()"
								i18n>Launch Server</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Direct Mode -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" i18n>Direct Mode</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<p i18n>Enable or disable direct mode.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="threeLetterVendorPNPIDInput" i18n>Vendor ID (optional)</label>
							<div class="input-group">
								<input type="text" class="form-control" id="threeLetterVendorPNPIDInput"
									   placeholder="Optional 3-letter vendor ID for HMD monitor."
									   [(ngModel)]="threeLetterVendorPNPID" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-primary"
											(click)="enableDirectMode()"
											i18n>
										Enable Direct Mode
									</button>
									<button type="button" class="btn btn-primary"
											(click)="disableDirectMode()"
											i18n>
										Disable Direct Mode
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Tracker viewer -->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" i18n>Tracker Viewer</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<p i18n>The Tracker Viewer utility visualizes OSVR trackers and can be useful to check if an OSVR device is working properly.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input type="text" class="form-control"
								   placeholder="OSVR path to track (leave blank to track head and hands). Enter multiple paths with a space between each."
								   i18n-placeholder="Optional input placeholder to tell Tracker Viewer program which OSVR paths to track."
								   [(ngModel)]="trackerViewerPath" />
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button"
										(click)="startTrackerViewer()"
										i18n>Launch Tracker Viewer</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
