<!-- Server root not defined message -->
<md-card style="margin: 20px" *ngIf="showServerRootNotDefined">
	<md-card-content>
		<ts-server-root-not-defined></ts-server-root-not-defined>
	</md-card-content>
</md-card>
<div fxLayout="row" style="border-bottom-style:inset">
	<!-- OSVR Server -->
	<div fxFlex="50">
		<p class="ts-highlight-section">OSVR Server</p>
		<p class="ts-subtitle-section">Start, Stop, or Restart the OSVR Server on this machine.</p>
		<md-card style="margin: 20px">
			<md-card-content>
				<md-input-container style="width: 100%">
					<input mdInput type="text" placeholder="Current OSVR Server Auto-Start Directory" disabled value="{{serverRoot}}">
				</md-input-container>
				<md-input-container style="width: 100%">
					<input mdInput type="text" placeholder="OSVR Server" disabled value="{{currentlyRunningServer()}}" />
				</md-input-container>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button"
						(click)="startServer()"
						i18n>
					Start Server
				</button>
				<button md-raised-button type="button"
						(click)="stopServer()"
						i18n>
					Stop Server
				</button>
				<button md-raised-button type="button"
						(click)="restartServer()"
						i18n>
					Restart Server
				</button>
			</md-card-actions>
		</md-card>
	</div>

	<!-- Direct Mode -->
	<div fxFlex="50">
		<p class="ts-highlight-section">Direct Mode</p>
		<p class="ts-subtitle-section">Start, Stop, or Restart the OSVR Server on this machine.</p>
		<md-card style="margin: 20px">
			<md-card-content>
				<md-input-container style="width: 100%">
					<input mdInput
						   type="text"
						   placeholder="Optional 3-letter vendor ID for HMD monitor."
						   [(ngModel)]="threeLetterVendorPNPID" />
				</md-input-container>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button"
						(click)="enableDirectMode()"
						i18n>
					Enable Direct Mode
				</button>
				<button md-raised-button type="button"
						(click)="disableDirectMode()"
						i18n>
					Disable Direct Mode
				</button>
			</md-card-actions>
		</md-card>
	</div>
</div>

<p class="ts-highlight-section">OSVR Applications</p>
<p class="ts-subtitle-section">OSVR utilities and demo applications</p>

<div fxLayout="row">
	<div fxFlex="50">
		<p class="ts-subhighlight-section">UTILITIES</p>
		<!-- Tracker Viewer -->
		<md-card style="margin: 20px">
			<md-card-header>
				<md-card-title i18n>Tracker Viewer</md-card-title>
				<md-card-subtitle i18n>The Tracker Viewer utility visualizes OSVR trackers and can be useful to check if an OSVR device is working properly.</md-card-subtitle>
			</md-card-header>
			<md-card-content>
				<md-input-container style="width: 100%">
					<input mdInput
						   type="text"
						   placeholder="OSVR path to track (leave blank to track head and hands). Enter multiple paths with a space between each."
						   i18n-placeholder="Optional input placeholder to tell Tracker Viewer program which OSVR paths to track."
						   [(ngModel)]="trackerViewerPath" />
				</md-input-container>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button"
						(click)="startTrackerViewer()"
						i18n>
					Launch Tracker Viewer
				</button>
			</md-card-actions>
		</md-card>

		<!-- Reset Yaw -->
		<md-card style="margin: 20px">
			<md-card-header>
				<md-card-title i18n>Reset Yaw</md-card-title>
				<md-card-subtitle i18n>Reset Yaw adds a transformation to the specified OSVR path (/me/head by default) to reset the forward direction to the current direction.</md-card-subtitle>
			</md-card-header>
			<md-card-content>
				<md-input-container style="width: 100%">
					<input mdInput
						   type="text"
						   placeholder="OSVR Path to reset yaw for (leave blank to use /me/head)."
						   i18n-placeholder="Optional input placeholder to tell reset-yaw utility which OSVR path to reset."
						   [(ngModel)]="resetYawPath" />
				</md-input-container>
			</md-card-content>
			<md-card-actions>
				<button md-raised-button type="button"
						(click)="callResetYaw()"
						i18n="Button text to reset the yaw orientation for a given OSVR path.">
					Reset Yaw
				</button>
			</md-card-actions>
		</md-card>
	</div>

	<div fxFlex="50">
		<p class="ts-subhighlight-section">DEMOS</p>
		<!-- Sample Apps -->
		<md-card style="margin: 20px">
			<md-card-content>
				<md-list>
					<md-list-item *ngFor="let sampleApp of sampleApps"
								  style="border-bottom-style:dotted">
						<h3 md-line>{{sampleApp.name}}</h3>
						<p md-line>{{sampleApp.description}}</p>
						<button type="button" md-fab i18n
								color="primary"
								(click)="launchSampleApp(sampleApp)">
							Launch
						</button>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>