<md-card>
	<md-card-title>
		<p class="ts-highlight-text" i18n>Could not find your OSVR Server directory.</p>
	</md-card-title>
	<md-card-content>
		<p class="ts-subtitle-text" i18n>Could not find the OSVR Server directory. Typically this is configured when you run the OSVR SDK or Runtime installers, but can be configured manually by setting the OSVR_SERVER_ROOT environment variable.</p>
	</md-card-content>
	<md-card-actions>
		<a md-raised-button color="accent" href="http://access.osvr.com/binary/osvr-runtime-installer" target="_blank"
		   i18n>Download OSVR Runtime</a>
		<a md-raised-button color="accent" href="http://access.osvr.com/binary/osvr-sdk-installer" target="_blank"
		   i18n>Download OSVR SDK</a>
	</md-card-actions>
</md-card>
