<div fxLayout="row">
	<!-- USB devices -->
	<div class="ts-section-margin" fxFlex="50">
		<p class="ts-highlight-text">Detected USB Devices</p>
		<p class="ts-subtitle-text" *ngIf="usbDevices?.length === 0" i18n>No data to display</p>
		<md-list *ngIf="usbDevices?.length > 0">
			<md-list-item *ngFor="let device of usbDevices">
				<p class="ts-subtitle-text" md-line>Vender ID/Name: {{vendorIDOrName(device)}}</p>
				<p class="ts-subtitle-text" md-line>Product ID/Name: {{productIDOrName(device)}}</p>
			</md-list-item>
		</md-list>
	</div>

	<!-- Sample configurations-->
	<div class="ts-section-margin" fxFlex="50">
		<p class="ts-highlight-text" i18n>Sample Configurations</p>
		<p class="ts-subtitle-text" i18n>Select one of the following sample configurations to save it as the default configuration. Note: this will overwrite the current configuration.</p>
		<md-list>
			<md-list-item *ngFor="let sampleConfig of sampleConfigs">
				<p class="ts-list-item-title-text" md-line>{{sampleConfig.fileName}}</p>
				<p class="ts-subtitle-text" md-line>{{sampleConfig.body.body.description}}</p>
				<button type="button" md-raised-button (click)="clickSampleConfig(sampleConfig)" i18n="button text to use the sample in the current row">Use</button>
				<button type="button" md-raised-button (click)="viewSampleConfig(sampleConfig)" i18n="button text to view the sample in the current row">View</button>
			</md-list-item>
		</md-list>
	</div>
</div>
