<!-- Get a list of USB devices -->

<h1>Detected USB Devices</h1>

<hr />

<p class="text-center" *ngIf="usbDevices?.length === 0">No data to display</p>

<div class="table-responsive" *ngIf="usbDevices?.length > 0">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Device VendorID</th>
                <th>Device ProductID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of usbDevices">
                <td>{{device.vid}}</td>
                <td>{{device.pid}}</td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Unknown USB Devices</h1>

<hr />