<!-- Save Settings -->
<div fxLayout="row">
	<div class="ts-section-margin">
		<p class="ts-highlight-text">Current configuration</p>
		<p class="ts-subtitle-text">Start, Stop, or Restart the OSVR Server on this machine</p>
		<p *ngIf="!canSaveSettings()" i18n>No current configuration.</p>
		<pre *ngIf="canSaveSettings()"
			 style="overflow-x:auto;overflow-y:auto;max-width:1000px;max-height:400px;">{{config | json}}</pre>
	</div>
</div>
<div fxLayout="row">
	<div class="ts-section-margin">
		<p class="ts-highlight-text" i18n>Saves the OSVR global settings</p>
		<p class="ts-subtitle-text" i18n>Edit and save global settings</p>
		<button type="button" md-raised-button
				(click)="saveSettings()"
				[disabled]="!canSaveSettings()"
				i18n>
			Save Changes
		</button>
	</div>
</div>
